__pycache__

exps/mnist/mnist/train-images-idx3-ubyte
exps/mnist/mnist/train-labels-idx1-ubyte
exps/mnist/mnist/t10k-images-idx3-ubyte
exps/mnist/mnist/t10k-labels-idx1-ubyte

test.csv
*.swp
exp1_network_file
